### Importing required Libraries

In [73]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

### Scraping data from the wikipedia page using BeautifulSoup

In [74]:
res = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))[0]
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [75]:
df.shape

(180, 3)

### Removing the rows in which Borough is Not assigned

In [76]:
indexNames = df[ df['Borough'] == 'Not assigned'].index
# Delete these row indexes from dataFrame
df.drop(indexNames, inplace=True)
df.head(10)

   Postal Code           Borough                                 Neighborhood
2          M3A        North York                                    Parkwoods
3          M4A        North York                             Victoria Village
4          M5A  Downtown Toronto                    Regent Park, Harbourfront
5          M6A        North York             Lawrence Manor, Lawrence Heights
6          M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
8          M9A         Etobicoke                             Islington Avenue
9          M1B       Scarborough                               Malvern, Rouge
11         M3B        North York                                    Don Mills
12         M4B         East York              Parkview Hill, Woodbine Gardens
13         M5B  Downtown Toronto                     Garden District, Ryerson

## Checking for cases where Postal code is repeated in rows, i.e. for duplicate values of postal codes - you wull see that there are no such cases.

In [77]:
#df.groupby('Postal Code').count()
df_dupli = df[df.duplicated()]
df_dupli

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

## Checking for cases where Neighborhood values is NaN - you will see in below result that there are no such rows.

In [78]:
df[df.Neighborhood.isnull()]

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

In [79]:
df.shape

(103, 3)

## So after cleanup this dataframe as 103 rows.